<link rel="stylesheet" href="/css/header.css">

<div>
    <div id="carousel" class="carousel slide carousel-fade d-block" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active d-flex justify-content-center">
                <img class="carousel-image" src="/assets/header-1.jpg" alt="background-holder-1">
            </div>
            <div class="carousel-item d-flex justify-content-center">
                <img class="carousel-image" src="/assets/header-2.jpg" alt="background-holder-3">
            </div>
            <div class="carousel-item d-flex justify-content-center">
                <img class="carousel-image" src="/assets/header-3.jpg" alt="background-holder-3">
            </div>
            <div class="carousel-item d-flex justify-content-center">
                <img class="carousel-image" src="/assets/header-4.jpg" alt="background-holder-4">
            </div>
        </div>
    </div>
</div>

<div class="container header-container">
    <div class="col-12">
        <p class="fs-1 text-center mb-1">Welcome to myBooks!</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <a href="/upload" class="btn btn-success btn-lg col-3">Sell a Book</a>
    </div>
</div>
