<link rel="stylesheet" href="/css/about.css">


<div id="column1">
    <div id="portrait1"></div>
    <h1 class="photohead" style="left:25%;">Hari Vengadesh Elangeswaran</h1>
    <p class="photodescription">Passionate about creating products that are seamless to use and include good and consistent design language. Learning in the inner grits of software development in hopes to enable change and provide services and opportunities to many people as possible. 
    </p>
    <div class="text-center text-white">
        <h1 class="h6">ehvenga@gmail.com</h1>
        <a href="https://www.linkedin.com/in/ehvenga/" class="text-decoration-none" target="_blank">
            <h6 class="h5 text-warning">LinkedIn</h6>
        </a>
    </div>
</div>

<div id="column2">
    <div id="portrait2"></div>
    <h1 class="photohead" style="left:75%;">Nihar Ranjan Mohanty</h1>
    <p class="photodescription">Nihar Ranjan Mohanty is an Indian billionaire Internet entrepreneur. In May/Jue 2021 he co-founded the e-commerce platform myBook with Hari Vengadesh Elangeswaran and served as the chief operating officer.
    </p>
    <div class="text-center text-white">
        <h1 class="h6">mnihar198@gmail.com</h1>
        <a href="https://www.linkedin.com/in/nihar-ranjan-mohanty-27102012a/" class="text-decoration-none" target="_blank">
            <h6 class="h5 text-warning">LinkedIn</h6>
        </a>
    </div>
</div>