<link rel="stylesheet" href="/css/about.css">

<div class="row">
<div class="containers col-lg-6 col-md-6">
  
  

<div class="content col-md-offset-6 col-lg-offset-6">
  <center><h1 class="contentHead">ABOUT ME</h1></center>
  
  <h2>Hi Folks, <br/><br/>
    This is Nihar Ranjan Mohanty. I'm a frontend developer
    <br/><br/>
    Show your L<span>&hearts;</span>VE if you like my Project.
    <br/><br/><br/><br/><br/>
    
   
  </h2>
</div>
</div>   






        {{!-- <a href="https://www.linkedin.com/in/nihar-ranjan-mohanty-27102012a/" class="text-decoration-none" target="_blank"> --}}
        